@charset "UTF-8";
@use 'mixin' as m;

$white: #F2F2EE;
$se-white: #F8F6F7;
$light-green: #F7FFFC;
$black: #2A2120;
$red: #BB0800;
$re-brown: #590400;
$green: #2D473E;
$pastel-green: #76BD9F;

body {
    font-family: "M PLUS 1p", sans-serif;
    background-color: $light-green;
    font-size: 20px;

    @include m.tab {
        font-size: 16px;
    }
}

a {
    color: $black;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.group {
    padding: 120px 0;
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 120px;
    background-color: $light-green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;

    @include m.tab {
        height: 80px;
    }

    img {
        width: 200px;
    }

    nav {
        font-size: 24px;
        margin-bottom: 20px;
        padding: 30px 30px;
        position: fixed;
        top: 80px;
        left: -320px;
        transition: all 0.5s;
        z-index: 99;
        opacity: 0;

        li {
            margin-bottom: 15px;

            &:hover {
                opacity: 0.5;
            }
        }

        a {
            color: $white;
        }

        .contact a {
            font-size: 32px;
            margin-top: 50px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .toggle-btn {
        position: relative;
        width: 40px;
        height: 40px;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 97;

        span {
            display: block;
            width: 40px;
            height: 1px;
            background-color: $black;
            transition: all 0.5s;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 98;

            &:nth-child(1) {
                top: 25%;
            }

            &:nth-child(2) {
                top: 41%;
            }

            &:nth-child(3) {
                top: 61%;
            }
        }
    }

    .mask {
        display: none;
        transition: all 0.5s;
    }

    &.open {
        .toggle-btn span {
            background-color: $white;
            z-index: 96;

            &:nth-child(1) {
                top: 50%;
                transform: rotate(-135deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                top: 50%;
                transform: rotate(135deg);
            }
        }

        .mask {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.8;
            z-index: 95;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }

        nav {
            left: 80px;
            opacity: 1;
        }
    }
}

.mainvisual {
    position: relative;

    img {
        width: 100%;
        height: 100vh;
        object-position: center;
    }

    .text-box {
        width: 700px;
        height: 300px;
        position: absolute;
        right: 0;
        top: 50%;
        background-color: rgba(217, 217, 217, 0.5);
        padding: 0 15px 0 10px;

        @include m.tab {
            width: 400px;
            height: 150px;
        }

        .text1 {
            font-size: 64px;
            font-weight: bold;
            color: $re-brown;
            text-shadow: #535252 3px 4px 4px;

            @include m.tab {
                font-size: 32px;
            }
        }

        .text2 {
            font-size: 32px;
            color: $red;

            @include m.tab {
                font-size: 16px;
            }
        }
    }
}

.section-title {
    font-family: "Kavoon", serif;
    font-size: 48px;
    color: $green;
    margin-bottom: 70px;
    padding: 0 10px;

    @include m.tab {
        font-size: 36px;
    }

    &.se-title {
        color: $pastel-green;
    }
}

.wrapper {
    text-align: center;
    width: calc(100% - 30%);
    margin: 0 auto;
}

.lead {
    font-size: 32px;
    margin: 70px 0;

    @include m.tab {
        font-size: 20px;
    }
}

.lead2 {
    margin-bottom: 70px;
    text-align: left;
}

#about {

    a {
        text-align: center;
    }

    .about-btn {
        width: 350px;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        color: $re-brown;
        transition: all 0.3s ease;
        position: relative;
    }

    .about-btn span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .about-btn::before,
    .about-btn::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: $re-brown;
        transition: all 0.3s ease;
    }

    .about-btn span::before,
    .about-btn span::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: $re-brown;
        transition: all 0.3s ease;
    }

    .about-btn::before,
    .about-btn span::before {
        width: 2px;
        height: 50%;
    }

    .about-btn::after,
    .about-btn span::after {
        width: 20%;
        height: 2px;
    }

    .about-btn:hover::before,
    .about-btn span:hover::before {
        height: 100%;
    }

    .about-btn:hover::after,
    .about-btn span:hover::after {
        width: 100%;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-top: 1px solid $green;
        top: 0;
        left: 0;
        width: 30px;
        height: 1px;
    }
}

.btn {
    text-align: center;
    font-size: 24px;
}

.gradation {
    background-image: linear-gradient(#f7fffc, #8db2a3 9%, #75bd9f 16%, #1b754f 19%, #1f6d4d 25%, #206a4c 31%, #27674d 38%, #23644a 50%, #21684b 63%, #285644 75%, #2b4e41 88%, #2d473e);
}

.line-box {
    position: relative;

    .line {
        position: absolute;
        top: -50px;
        width: 100%;

        &.item-line {
            top: -80px;
        }
    }
}

#works {

    .image-content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 70px;
        position: relative;

        @include m.tab {
            flex-direction: column;
            gap: 390px;
        }

        .slide {
            width: 32%;

            @include m.tab {
                width: 100%;
            }

            & img {
                display: block;
                position: absolute;
                width: inherit;
                height: inherit;
                opacity: 0;
                animation: slideAnime 6s ease infinite;

                &:nth-of-type(1) {
                    animation-delay: 0s;
                }

                &:nth-of-type(2) {
                    animation-delay: 3s;
                }
            }

            @keyframes slideAnime {
                0% {
                    opacity: 0
                }

                12% {
                    opacity: 1
                }

                50% {
                    opacity: 1
                }

                62% {
                    opacity: 0
                }

                100% {
                    opacity: 0
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .works-btn {
        padding-top: 400px;

        a {
            background-color: $re-brown;
            border: 1px solid $re-brown;
            padding: 15px 100px;
            color: $white;

            &:hover {
                background-color: $white;
                color: $re-brown;
            }
        }
    }
}

#service {
    ul {
        li {
            background-color: $se-white;
            display: flex;
            align-items: center;
            gap: 60px;
            margin-bottom: 30px;
            padding: 0 30px 0 8px;

            @include m.tab {
                flex-direction: column;
            }

            img {
                flex: 0 0 280px;
                height: 197px;
            }

            .service-description {
                text-align: center;
                padding: 20px 0;

                .de-text {
                    font-weight: bold;
                    margin-bottom: 15px;

                    @include m.tab {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

#voice {
    color: $white;

    .voc {
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;

            .item-box {
                flex-direction: column;
                padding-right: 30px;
                line-height: 1;

                p {
                    padding-top: 3px;
                }
            }

            .item-text {
                width: 420px;
                height: 120px;
                color: $black;
                border: 1px solid $black;
                background-color: $white;
                border-radius: 27px;
                padding: 30px 38px;
                text-align: center;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    border: 15px solid transparent;
                    border-right: 15px solid #F2F2EE;
                    left: -27px;
                    bottom: 45px;
                }
            }
        }
    }

    .voice-btn {
        padding: 70px 0 0;

        a {
            margin: 0 auto;
            width: 500px;
            padding: 15px 0;
            background-color: $re-brown;
            border: 1px solid $re-brown;
            border-radius: 40px;
            color: $white;
            box-sizing: border-box;
            display: flex;
            justify-content: center;

            .prev {
                background-image: url(../img/tel-icon.png);
                background-size: cover;
                background-position: center;
                width: 35px;
                height: 35px;
                display: inline-block;
            }

            .after {
                display: none;
            }

            &:hover {
                background-color: $white;
                color: $re-brown;

                .after {
                    display: block;
                    background-image: url(../img/tel-re-brown.png);
                    width: 35px;
                    height: 35px;
                    display: inline-block;

                }
            }
        @include m.tab {
            width: 350px;
        } 
        }
    }
}

#footer {
    background-color: $green;
    padding: 50px 0 20px;

    .box {
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .company {
            li {
                padding-bottom: 5px;
            }
        }

        .footer-info {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            @include m.tab {
                flex-direction: column;
                gap: 10px;
            }

            a {
                color: $white;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    small {
        color: $white;
        display: block;
        text-align: center;
        font-size: 10px;
        padding: 10px 0;
    }
}

// //aboutページ//
.a-mainvisual {
    position: relative;
    padding-top: 120px;

    @include m.tab {
        padding-top: 80px;
    }

    img {
        width: 100%;
        height: 100vh;
        object-position: center;
    }

    .main-title {
        position: absolute;
        left: 5%;
        top: 60%;
        padding: 0 15px 0 10px;

        .title2 {
            font-family: "Kavoon", serif;
            font-size: 64px;
            letter-spacing: 5px;
            color: $green;
            padding: 0 10px;

            @include m.tab {
                font-size: 48px;
            }
        }

        span {
            font-size: 20px;
            color: $green;
        }
    }
}

.heading {
    .about-lead {
        padding-top: 80px;
        font-size: 28px;
        color: $red;
    }

    .illustration {
        width: 30%;
        margin: 0 0 0 auto;
    }
}

.about-lead2 {
    font-size: 20px;
    margin: 20px 0;
}

.about-content {
    color: $re-brown;
    font-size: 26px;
}

.business_detail {
    .about-lead2 {
        font-weight: bold;
    }

    .lead3 {
        padding-bottom: 80px;
    }
}

.company_overview {
    .overview {
        width: 100%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        margin: 80px 0;
    }

    dt {
        display: flex;
        align-items: center;
        width: 25%;
        margin-bottom: 8px;
        border-bottom: 1px solid $black;
    }

    dd {
        align-items: center;
        width: 75%;
        margin-bottom: 8px;
        border-bottom: 1px solid $black;
    }
}

//worksページ//

.w-content {
    color: $re-brown;
    font-size: 26px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 30px;
}

.construction_case {
    .works-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        &:last-child {
            padding-bottom: 80px;
        }

        @include m.tab {
            grid-template-columns: none;
        }

        li {
            width: 100%;
            position: relative;

            &::after {
                content: "";
                box-shadow: inset 0 -30px 15px -1px #393b3c;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
                width: 100%;
            }

            p {
                position: absolute;
                left: 5%;
                bottom: 3%;
                z-index: 97;
                color: $se-white;
                font-family: "Croissant One", serif;
            }
        }
    }
}